$back-color:rgb(207, 207, 207);

label {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.centerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div {
  margin: 0;
  font-family: 'Roboto', sans-serif; //test
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(223, 75, 75, 0.219);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pageTitle {
  text-align: center;
  margin: auto;
  font-family: "Monoton";
  color: black;
}

.pageDivTest {
  margin: 30px;
  width: 95vw;
  height: 80vh;
  background-color: rgba(197, 248, 167, 0.219);
}